.hello {
  .hello-container {
    align-items: center;
    img {
      margin-bottom: -5px;
    }
  }
  .left-side {
    padding-left: 81px;
  }
  .right-side {
    text-align: right;
  }
  .description {
    color: #555555;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 60px;
  }
  .big-text {
    color: $color-accent;
    font-size: 60px;
    font-weight: 700;
  }
  .button {
    width: 150px;
    height: 50px;
    background-color: $color-accent;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1199.98px) { //lg
    img {
      height: auto;
      width: 100%;
    }
  }

  @media screen and (max-width: 991.98px) { //md
    .big-text {
      font-size: 30px;
    }
    .left-side {
      padding-left: 40px;
    }
  }
  @media screen and (max-width: 767.98px) { //sm
    .left-side {
      padding-left: 15px;
    }
  }
  @media screen and (max-width: 575.98px) { //xs
    .left-side {
      text-align: center;
    }
    .btn {
      width: 100%;
      margin-bottom: 20px;
    }
  }

}
