.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 35px auto;
}

.form_item {
  margin-bottom: 15px;
  border: 1px solid #818181;
  height: 25px;
}

.form_item:focus {
  border: 2px solid #818181;
  outline: none;
}

.form_button {
  display: block;
  padding: 5px 10px;
  background-color: #595BC5;
  color: #FFF;
  border: 0 solid;
  padding: 15px 30px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 100px;
  font-style: unset;
  text-transform: uppercase;
}

.form_button:hover {
  background-color: #191BC2;
}

.label_item {
  color: #191BC2;
  font-style: italic;
}

.invalidFormMessages {
  display: none;
  color: #E91D49;
  margin: 0 auto;
}

.successfullFormMessages {
  display: none;
  color: #0AA304;
  margin: 0 auto;
}

.submitForm {
  display: block;
}

.invalid {
  border: 2px solid #E91D49;
  color: #E91D49;
}
