.title-h2 {
  position: relative;
  text-align: center;
  color: $color-title-h2;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 130px;
}

.title-h2:after {
  content:url(../img/lines.png);
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
}

.inpt {
  height: 50px;
  padding: 10px;
  border: 1px solid #413f3f;
  background: transparent;
  transition: 0.3s all;
}
.inpt:focus {
  border: 1px solid $color-accent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color-placeholder;
  font-size: 14px;
  font-weight: 400;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $color-placeholder;
  font-size: 14px;
  font-weight: 400;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $color-placeholder;
  font-size: 14px;
  font-weight: 400;
}


