.btn {
  width: 150px;
  height: 50px;
  background-color: $color-accent;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s all;
}

.btn:hover {
  background-color: #ffffff;
  color: $color-accent;
  border: 2px solid $color-accent;
}

.btn:disabled {
  background-color: $color-text;
  cursor: none;
}
