.page-content {
  display: flex;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #FFF;
  font-size: 35px;
}

.flex-center-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 240px;
  background-color: #C14F4F;
  order: 1;
}

.main {
  width: auto;
  min-height: calc(100vh - 320px);
  background-color: #699EBD;
  order: 3;
  flex: 1;
}

.sidebar {
  width: 340px;
  background-color: #C28282;
  order: 2;
}

.sidebar--right {
  width: 340px;
  background-color: #C28282;
  order: 4;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #C14F4F;
  order: 5;
}

.sidebar__item {
  height: 100vh;
}
