body {}

.grid {
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 100vh;
}

.grid--header {
    grid-template-rows: 15vh;
    grid-template-areas: ". container-header .";
}

.container__header {
    grid-area: container-header;
}

.grid--hello {
    margin-top: 2rem;
    grid-template-areas: ". container-hello .";
}

.container__hello {
    grid-area: container-hello;
    justify-content: space-between;
}

.grid--about-me {
    grid-template-areas: ". container-about-me .";
    background-color: #f0f0f0;
}

.container__about-me {
    grid-area: container-about-me;
}

.grid--contact-me {
  grid-template-areas: ". container-contact-me .";
}

.container__contact-me {
    grid-area: container-contact-me;
  flex-direction: column;

}

.grid--footer {
    grid-template-rows: 15vh;
    grid-template-areas: ". container-footer .";
    background-color: #d7d7d7;
}

.container__footer {
    grid-area: container-footer;
}

.container {
    display: flex;
    justify-content: center;
}

.container__header {
    justify-content: space-between;
}

.container__footer {
    justify-content: space-between;
  align-items: center;
}

.container__header_menu {
    height: auto;
    margin: auto 0;
    padding: 0;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40vw;
    align-content: center;
    font-size: 14px;
}

.list-item {
    padding: 2% 3%;
}

.list-item:hover {
    color: red;
}

.list__contact-me {
    display: flex;
}

.list__menu {}

.footer__menu {
    display: flex;
  width: 20rem;
    align-items: center;
}

.image-profile0 {
    height: 100%;
    width: auto;
}

.article {
    margin: 11rem 2rem;
}

.button {
    margin-top: 9%;
    margin-right: 2vw;
    padding: 3% 2vw;
    border: none;
    border-radius: 25px;
    background: none;
    border: 2px solid #666666;
  text-transform: uppercase;
}

.button--orange {
    border: none;
    background-color: #fe7e11;
}

.button--submit {
  margin-top: 3rem;
  padding: 2% 5%;
}

.container__about-me {
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.image-profile1 {
    height: 73%;
    width: auto;
}

.article__about-me {
    margin: 0 auto;
    width: 50%;
}

.container__btns {
    height: auto;
    justify-content: flex-start;
}

.table-column2 {
    padding-left: 13vh;
}

.container-title {
    text-align: center;
    margin: 0 0 4rem 0;
}

.icon {
  height: 64%;
  width: 20%;
}

.list__contact-me {
  flex-direction: column;
  width: 19vw;
}

.list__contact-me_item {
  display: flex;
  align-items: center;
  height: 7rem;
}

.item__container {
  margin-left: 2rem;
}

.container__form {
  justify-content: space-between;
}

.form {
  width: 38vw;
}

.form_input, .form_textarea {
  width: 47%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #413f3f;
  -webkit-transition: 0.5s;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
}

input[type=text]:focus, .form_textarea:focus {
  border: 1px solid #fe7e11;
}

.form_textarea {
  width: 100%;
  margin-top: 2rem;
  height: 68%;
}

.form__container {
  display: flex;
  justify-content: space-between;
}

.button--submit:hover {
  background-color: #FF7F50;
}

/*.menu__item {*/
/*  background: url(img/facebook-logo.svg);*/
/*}*/

.link-social {

  display: block;
  width: 2rem;
}

.link-social--fb {
   background: url(img/facebook-logo.png) no-repeat;
 }

.link-social--tw {
  background: url(img/twitter-black-shape.png) no-repeat;
}

.link-social--inst {
  background: url(img/instagram.png) no-repeat;
}

.link-social--dribble {
  background: url(img/dribbble-logo.png) no-repeat;
}

.link-social--pint {
  background: url(img/pinterest.png) no-repeat;
}
