.grid {
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 100vh;
}

.grid--header {
    grid-template-rows: 15vh;
    grid-template-areas: ". container-header .";
}

.container__header {
    grid-area: container-header;
}

.grid--hello {
    grid-template-areas: ". container-hello .";
}

.container__hello {
    grid-area: container-hello;
}

.grid--about-me {
    grid-template-areas: ". container-about-me .";
}

.container__about-me {
    grid-area: container-about-me;
}

.grid--contact-me {
    grid-template-areas: ". container-contact-me .";
}

і .container__contact-me {
    grid-area: container-contact-me;
}

.grid--footer {
    grid-template-rows: 15vh;
    grid-template-areas: ". container-footer .";
    background-color: #d7d7d7;
}

.container__footer {
    grid-area: container-footer;
}

.container {
    display: flex;
    justify-content: center;
}

.container__header {
    justify-content: space-between;
}

.container__footer {
    justify-content: space-between;
}

.container__header_menu {
    height: auto;
    margin: auto 0;
    padding: 0;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40vw;
    align-content: center;
    font-size: 14px;
}

.list-item {
    padding: 2% 3%;
}

.list-item:hover {
    color: red;
}

.list__contact-me {
    display: flex;
}

.list__menu {}

.footer__menu {
    display: flex;
    align-items: center;
}
