.header {
  background-color: purple;
  height: 100%;
  width: 100%;
  min-height: 20vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

.body {
  margin: 0;
  display: grid;

}

.main-content {
  height: 60vh;
  display: grid;
  grid-template-columns: 20% 60% 20% 100% 100%;
  grid-template-rows: 100% 20% 20% 20% 20%;
}

.sidebar-left {
  background-color: pink;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.content {
  background-color: hotpink;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.sidebar-right {
  background-color: pink;
  height: 100%;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.footer {
  background-color: purple;
  height: 100%;
  width: 100%;
  min-height: 20vh;
  display: grid;
  align-content: center;
  justify-content: center;
}
