.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table, td {
  border-collapse: collapse;
  border: 2px solid rgba(0,0,0,.5);
  padding: 0;
  width: 100%;
  max-width: 1040px;
  text-align: center;
}

td {
  height: 24px;
  width: 24px;
}

td > p {
  margin: 0;
}

td.opened {
  background: #0FF;
}

td.loosing-cell {
  background: #F00;
}

.slider.slider {
  width: 40%;
  margin: 0 0 20px;
}

.slider-label {
  margin: 0;
}
