@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --global--color--primary: #666;
  --global--color--secondary: #FE7E11;

  --global--color--theme-primary: #FFF;
  --global--color--theme-secondary: #F0F0F0;

  --global--font-weight--bold: 900;

  --global--padding: 0 calc((100% - 1200px) / 2);
  --global--padding-top: 125px;

  --global--margin: 0 20px;

  --global--font-size--xxs: 14px;
  --global--font-size--xs: 15px;
  --global--font-size--sm: 20px;
  --global--font-size--md: 24px;
  --global--font-size--lg: 40px;
  --global--font-size--xlg: 60px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.body {
  font-family: "Open Sans", sans-serif;
  color: var(--global--color--primary);
  margin: 0;
}

/* Utility classes. */
/* Sets paddings to make content width equals 1200px */

.section {
  padding: var(--global--padding);
}

.section__header {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

.section__header-title {
  margin: 0;
  padding-top: 8%;
  font-size: var(--global--font-size--lg);
  text-align: center;
  line-height: .95em;
}

.section__top-divider {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 2px;
  background-color: var(--global--color--secondary);
}

.section__top-divider::before,
.section__top-divider::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid var(--global--color--primary);
}

.section__top-divider::before {
  left: -10px;
}

.section__top-divider::after {
  right: -10px;
}

.section__bottom-divider {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: inline-block;
  width: 110px;
  height: 2px;
  background-color: var(--global--color--primary);
}

/* Button styling */

.button {
  height: 50px;
  font-size: 16px;
  padding: 0;
  text-transform: uppercase;
  font-weight: var(--global--font-weight--bold);
  border-radius: 30px;
  cursor: pointer;
}

.button--primary {
  border: none;
  background-color: var(--global--color--secondary);
  color: #FFF;
}

.button--secondary {
  border: 2px solid var(--global--color--primary);
  background-color: transparent;
  color: var(--global--color--primary);
}

/* Header section */

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--global--color--theme-primary);
}

.header__logo {
  margin-left: 15px;
  margin-top: 35px;
  color: var(--global--color--secondary);
  font-size: var(--global--font-size--lg);
  cursor: pointer;
}

.header__navigation-list {
  margin: 0;
  margin-top: 45px;
  list-style-type: none;
}

.header__navigation-item {
  display: inline;
  margin: 20px;
  white-space: nowrap;
  font-weight: var(--global--font-weight--bold);
  font-size: var(--global--font-size--xs);
  text-transform: uppercase;
}

.header__navigation-item:hover {
  color: var(--global--color--secondary);
}

.header__navigation-link {
  color: inherit;
  text-decoration: none;
}

.header__themes {
  position: absolute;
  top: 2%;
  right: 2%;
  align-self: center;
}

/* Greeting section */

.greeting {
  display: flex;
  justify-content: flex-end;
  padding-top: 5%;
  background-color: var(--global--color--theme-primary);
}

.greeting-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: var(--global--padding-top);
}

.greeting-text__hello {
  font-size: var(--global--font-size--sm);
}

.greeting-text__name {
  font-size: var(--global--font-size--xlg);
  font-weight: var(--global--font-weight--bold);
  line-height: .83em;
  color: var(--global--color--secondary);
  padding: 30px 0;
}

.greeting-text__profession {
  font-size: var(--global--font-size--md);
  margin-bottom: 60px;
}

.greeting-text__hire-btn {
  width: 150px;
}

.greeting__image {
  height: 730px;
  width: 40%;
  background-color: #808080;
  margin-right: 15px;
  color: #FFF;
  font-size: 28px;
}

/* About me section */

.about-me {
  background-color: var(--global--color--theme-secondary);
}

.about-me__header {
  font-size: var(--global--font-size--lg);
  text-align: center;
  margin: 0;
  line-height: .95em;
}

.about-me__content {
  display: flex;
  margin-top: 8%;
  padding-bottom: 8%;
}

.about-me-text {
  color: var(--global--color--primary);
}

.about-me-text__greeting {
  font-size: var(--global--font-size--sm);
  margin-bottom: 20px;
}

.about-me-text__description {
  font-size: var(--global--font-size--xs);
  line-height: 1.7em;
  margin-bottom: 30px;
}

.about-me-text__list {
  list-style-type: none;
  display: inline-block;
  font-size: var(--global--font-size--xxs);
  padding: 0;
  margin: 0;
}

.about-me-text__list-item {
  margin-bottom: 16px;
}

.about-me-text__list--values {
  margin-left: 120px;
  margin-bottom: 16px;
}

.about-me-buttons__hire-me-btn {
  width: 160px;
  margin-right: 30px;
}

.about-me-buttons__download-cv-btn {
  width: 220px;
}

/* Footer section */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--global--color--theme-primary);
}

.footer__text {
  color: var(--global--color--primary);
  font-size: var(--global--font-size--xxs);
  padding-top: 35px;
  padding-bottom: 30px;
}

.footer__social-media-links {
  user-select: none;
}

.footer__media-link {
  height: 20px;
  width: 20px;
  margin: var(--global--margin);
  fill: var(--global--color--primary);
  cursor: pointer;
}

.footer__media-link:hover {
  fill: var(--global--color--secondary);
}

@media screen and (max-width: 1200px) {

  :root {
    --global--font-size--xlg: 50px;

    --global--padding: 15px;
    --global--padding-top: 60px;

    --global--margin: 0 12px;
  }

  .header__logo {
    margin-left: 0;
  }
}

@media screen and (max-width: 678px) {

  :root {
    --global--font-size--xlg: 35px;
    --global--font-size--lg: 36px;
    --global--font-size--md: 18px;
    --global--font-size--xxs: 12px;
  }

  .header {
    display: block;
  }

  .header__navigation-item {
    margin: 0;
    margin-right: 20px;
  }

  .header__navigation-list {
    margin-top: 0;
    padding-left: 0;
  }

  .greeting__image {
    display: none;
  }

  .about-me-buttons__hire-me-btn {
    margin-bottom: 15px;
  }

  .about-me-text__list--values {
    margin-left: 0;
    float: right;
  }

  .footer {
    display: block;
    text-align: center;
  }

  .footer__social-media-links {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {

  :root {
    --global--font-size--xlg: 32px;
    --global--font-size--sm: 16px;
    --global--font-size--xs: 12px;
    --global--font-size--xxs: 10px;

    --global--padding-top: 0;

    --global--margin: 0 5%;
  }

  .button {
    width: 100%;
  }

  .greeting-text__name {
    padding: 15px 0;
  }

  .header__themes {
    top: 5%;
  }

  .greeting__image {
    display: none;
  }

  .section__top-divider {
    width: 90px;
  }

  .section__bottom-divider {
    width: 70px;
  }
}
