.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.form__label {
  font-size: 20px;
  margin-bottom: 1%;
  margin-top: 5%;
}

.form__input {
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
}

.form__validation-text {
  visibility: hidden;
  font-size: 20px;
  margin: 4% auto;
  color: rgb(0, 128, 0);
}

.form__submit-btn {
  height: 50px;
  width: 50%;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: rgb(141, 214, 141);
  cursor: pointer;
}
