@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3%;
  z-index: 1;
}

.hamburger-menu {
  width: 32px;
  height: 24px;
  background-image: url("./images/hamburger-menu.png");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Main section ('Say hello to shopno!') */

.main {
  position: relative;
  background-color: #EFF0F2;
  padding-top: 16%;
  text-align: center;
}

.main__title {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
  color: #505050;
  text-shadow: 3px 8px 8px #0000003D;
  margin: 0;
}

.main__title--bg {
  background-color: #76F4EA80;
}

.contact-us-btn {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: .8% 2.4%;
  background-color: transparent;
  border: 2px solid #777879;
  margin-top: 8%;
  margin-bottom: 10%;
  color: #505050;
  cursor: pointer;
}

.glass {
  position: absolute;
  right: 24%;
  bottom: 8%;
}

/* About Us section */

.about-us {
  padding-top: 6%;
  padding-bottom: 5%;
  background-color: #F8FAFA;
}

.about-us__header {
  text-align: center;
  margin-bottom: 10%;
}

.about-us__title {
  font-size: 38px;
  letter-spacing: 2px;
  opacity: .9;
}

.about-us__title-description {
  font-family: "Merriweather", serif;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: .6;
}

.pictures {
  position: relative;
  margin-bottom: 1%;
}

.picture-slider {
  max-width: 485px;
  text-align: center;
  margin-left: 5%;
}

.pictures__current-image {
  position: relative;
}

.pictures__next-image {
  position: absolute;
  top: 10%;
  right: -4%;
}

.slider-dot {
  width: 10px;
  height: 10px;
  background-color: #D0D0D0;
  border: none;
  border-radius: 3px;
  padding: 0;
  cursor: pointer;
}

.slider-dot:focus {
  background-color: #71F6EB;
}

.about-us__title,
.about-us__title-description {
  text-transform: uppercase;
  margin: 0;
}

.about-us-text {
  width: 42%;
  margin-left: 10%;
  opacity: .6;
  line-height: 28px;
}

.about-us-text,
.picture-slider {
  display: inline-block;
  vertical-align: top;
}

.about-us-text__title {
  font-size: 20px;
}

.about-us-text__mini-title {
  font-size: 18px;
}

.about-us-text__title,
.about-us-text__mini-title {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4%;
}

.about-us-text__description {
  font-size: 16px;
  margin-bottom: 6%;
}
