.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  --bg-overlay: linear-gradient(0deg, rgba(36, 38, 69, .9), rgba(36, 38, 69, .9));
  --max-width: 770px;
}

p {
  font-size: 14;
  line-height: 24px;
}

button {
  background: none;
  border: 2px solid #36C0AE;
  color: #36C0AE;
  text-transform: uppercase;
  cursor: pointer;
  padding: 13px;
  font-weight: 900;
}

button:active {
  background: #36C0AE;
  color: #FFF;
}

.home-section__content, .about-section,
.story-section, .expertise-section,
.team-section, .works-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--max-width);
  width: 90%;
  padding-top: 73px;
  padding-bottom: 67px;
}

.home-section {
  background: var(--bg-overlay), url("public/backgrounds/header.png") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  color: #FFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  width: 100%;
  height: 50px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  min-width: 400px;
}


.link {
  text-decoration: none;
}

.link:not(.active) {
  color: #FFF;
}

.link.active {
  color: #36C0AE;
}

.home-section__content {
  flex-direction: column;
  text-align: center;
  padding-bottom: 207px;
}

.home-section__content h1 {
  font-size: 32;
  margin-top: 163px;
  margin-bottom: 20px
}

.home-section__content p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.home-section__content button {
  margin: 0 auto;
}

.about-section {
  /* margin: 70px auto; */
}

.about-section__content {
  margin-left: 98px;
}

.story-section {
  background: var(--bg-overlay), url("public/backgrounds/watch-story.png") no-repeat center center;
  background-size: cover;
  flex-direction: column;
  padding: 200px 0;
  max-width: unset;
  width: 100%;
}

.story-section button {
  padding: 0;
  border: none;
  margin-bottom: 34px;
  height: auto;
  border-radius: 50%;
}

.story-section label {
  color: #FFF;
  font-size: 16;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.expertise-section {
  flex-direction: column;
  --max-width: 950px;
}

.expertise-section h2 {
  font-size: 22;
  margin-top: 0;
  margin-bottom: 16px
}

.expertise-section p {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.expertise-section img {
  margin-top: 0;
  margin-bottom: 46px;
}

.expertise-section__items {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: auto;
}

.expertise-item {
  flex: 0 0 calc(var(--max-width) / 3 - 66px);
  min-width: 245px;
  height: 250px;
  border-top: .5px solid #AAA;
  border-left: .5px solid #AAA;
  margin-top: -.5px;
  margin-left: -.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 33px;
  text-align: center;
}

.expertise-item img {
  margin-top: 0;
  margin-bottom: 35px;
}

.expertise-item p {
  margin-top: 25px;
  margin-bottom: 5px;
  color: #333;
}

.expertise-item h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 900;
}

.team-section {
  background: var(--bg-overlay), url("public/backgrounds/team.png") no-repeat center center;
  background-size: cover;
  padding: 70px 0;
  color: #FFF;
  flex-direction: column;
  margin: 0;
  max-width: unset;
  width: 100%;
}

.team-section h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 22;
  text-transform: uppercase;
}

.team-section p {
  margin-top: 8px;
  margin-bottom: 10px;
}

.team-section .underline {
  margin-top: 10px;
  margin-bottom: 0;
}

.teammates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 940px;
  width: 90%;
  margin-top: 47px;
  margin-bottom: 70px;
}

.teammate {
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, .5);
  width: 220px;
}

.teammate img {
  height: 229px;
  width: 220px;
}

.teammate img::before {
  height: 230;
  width: 220px;
  content: " ";
  display: block;
  position: absolute;
  background-color: #FFF;
}

.teammate-name {
  margin-top: 24px;
  margin-bottom: 6px;
  text-align: center;
}

.teammate-position {
  margin-top: 6px;
  margin-bottom: 24px;
  text-align: center;
  color: #FAFAFA;
  font-size: 13;
}

.team-section p.lets-join-us {
  margin-top: 0;
  margin-bottom: 25px;
}

.team-section button {
  margin: 0;
}

.works-section {
  background: var(--bg-overlay), url("public/backgrounds/works.png") no-repeat center center;
  background-size: cover;
  flex-direction: column;
  padding: 69px 0;
  max-width: unset;
  width: 100%;
  color: #FFF;
  text-align: center;
}

.works-section img.quote {
  width: 32px;
  height: 26px;
  margin-bottom: 21px;
}

.works-quote {
  max-width: var(--max-width);
  margin-top: 21px;
}

.works-quote p {
  margin-bottom: 26px;
}

.works-quote cite {
  margin-top: 26px;
}

.works-quote cite * {
  margin: 0;
}

.works-quote__author-name {
  font-weight: 900;
  margin: 0;
}

.works-quote__author-position {
  font-size: 13px;
  margin: 0;
}

.works-people {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.works-people button {
  border: none;
  margin-right: 32px;
  margin-left: 32px;
  padding: 0;
}

.works-people button:active {
  background: none;
  fill: #36C0AE;
}

.works-people__list img {
  width: 45px;
  height: 45px;
}

.works-people button img {
  width: 25px;
  height: 40px;
}

.works-people__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 305px;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.works-people__list li:nth-child(3) img {
  width: 70px;
  height: 70px;
}

.footer {
  background: url("public/backgrounds/footer.png") no-repeat center center;
  background-size: cover;
}
