form {
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.col-6 {
  display: inline-block;
  width: 47%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #505050;
}

.col-6:not(:nth-child(even)) {
  float: left;
}

.col-6:not(:nth-child(odd)) {
  float: right;
}

.col-12 {
  display: inline-block;
  width: calc(100% - 24px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #505050;
}

input {
  border-radius: 3px;
}

.btn-submit {
  float: right;
  color: #FFF;
  background-color: #008000;
  border: 1px solid #008000;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 8%;
  cursor: pointer;
}

.error {
  border-color: #F00;
}

.success-message {
  text-align: center;
  color: #008000;
}

.hide {
  display: none;
}
