/*Common styles*/

.container {
  padding-left: 15%;
  padding-right: 15%;
}

body {
  margin: 0;
}

h1 {
  color: #FE7E11;
  font-size: 60px;
  font-weight: 700;
  margin: 2.5rem 0;
}

.block-title {
  color: #666;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: .5rem;
}

.block-title-img {
  margin: 0 auto;
  display: block;
}

input, textarea {
  border: 1px solid #413F3F;
  font-size: 14px;
  font-weight: 400;
  padding: 15px;
}

.btn-orange {
  background-color: #FE7E11;
  color: #FFFEFE;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 2rem;
  margin-top: 50px;
  min-width: 9.25rem;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
  cursor: pointer;
  opacity: .9;
  outline: none;
}

.block-left {
  width: 50%;
  display: inline-block;
  float: left;
}

.block-right {
  width: 50%;
  display: inline-block;
  float: right;
}

h4 {
  color: #666;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/*Header*/

header {
  background-color: #FAFAFA;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}

.logo {
  display: inline-block;
  width: 24%;
  float: left;
}

nav {
  display: inline-block;
  width: 75%;
  float: right;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

.block-about li {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

nav li:not(:last-child) {
  margin-right: 2.5rem;
}

nav li a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  font-weight: 700;
  line-height: 6px;
  text-transform: uppercase;
}

nav li a:active,
nav li a:focus,
nav li a:hover {
  color: #FE7E11;
}

/* User info section*/

.block-user-info {
  overflow: hidden;
  background-color: #FAFAFA;
  padding-top: 2rem;
  display: flex;
  align-items: center;
}

.block-info p {
  color: #555;
  font-size: 20px;
  font-weight: 500;
  line-height: 6px;
  margin: 0;
}

/*About user block*/

.block-about {
  overflow: hidden;
  background-color: #F0F0F0;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.block-about p {
  color: #555;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.item-label {
  display: inline-block;
  width: 25%;
}

.item-value {
  display: inline-block;
  width: 70%;
}

.user-picture-left,
.about-user {
  margin-top: 6rem;
}

/* Contact block */

.block-contact {
  background-color: #FAFAFA;
  padding-top: 5%;
  padding-bottom: 5%;
}

.block-content-wrapper {
  overflow: hidden;
  margin-top: 100px;
}

.block-contact-data {
  width: 35%;
  display: inline-block;
  float: left;
}

.block-contact-form {
  width: 65%;
  display: inline-block;
  float: right;
}

.block-contact-data ul {
  padding-left: 0;
}

.block-contact-data p {
  max-width: 70%;
  margin: 0;
}

.block-contact-form .user-name,
.block-contact-form .user-email {
  width: calc(100% - 32px);
}

.block-contact-form .user-name-wrapper {
  float: left;
  width: 48%;
}

.block-contact-form .user-email-wrapper {
  float: right;
  width: 48%;
}

.block-contact-form .message {
  width: calc(100% - 32px);
  margin-top: 25px;
  min-height: 250px;
}

.block-contact-form .user-name:active,
.block-contact-form .user-email:active,
.block-contact-form .message:active,
.block-contact-form .user-name:focus,
.block-contact-form .user-email:focus,
.block-contact-form .message:focus {
  border: 1px solid #FE7E11;
  outline: none;
}

.content-item {
  overflow: hidden;
  margin-bottom: 50px;
}

.content-item img {
  float: left;
}

.contact-info {
  color: #555;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  display: inline-block;
  width: 80%;
  float: right;
}

.block-contact-form .error {
  border-color: #F00;
}

.block-copyright p {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.block-contact-form .error + p {
  margin: .25rem 0 0;
  font-size: .75rem;
  color: #F00;
  padding-left: 15px;
}

/*Footer */

footer {
  background-color: #F0F0F0;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.social-buttons {
  display: inline-block;
  width: 50%;
}

.social-buttons ul {
  display: flex;
  justify-content: flex-end;
}

.social-buttons li:not(:last-child) {
  margin-right: 10%;
}

.social-buttons img {
  width: 1.25rem;
  height: 1.25rem;
}

.block-copyright {
  display: inline-block;
  width: 49%;
}
