<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="body">
    <section class="gallery-wrapper">
        <h2 class="title">featured works</h2>
        <p class="title__text">Lorem ipsum dolor sit amet event landing template</p>
        <figure class="gallery">
            <img class="gallery__item" src="../images/icecream.jpeg" alt="icecream">
            <img class="gallery__item" src="../images/business-card.jpeg" alt="business-card">
            <img class="gallery__item" src="../images/bottles.jpeg" alt="bottles">
            <img class="gallery__item" src="../images/children-book.jpeg" alt="children-book">
            <img class="gallery__item" src="../images/9-pounds.jpeg" alt="9-pounds">
            <img class="gallery__item" src="../images/home-dietitian.jpeg" alt="home-dietitian">
        </figure>
    </section>
    <section class="articles-wrapper">
        <h2 class="title">our services</h2>
        <p class="title__text">Lorem ipsum dolor sit amet event landing template</p>
        <section class="articles">
            <div class=" articles__item articles__item_open">
                <h3 class="articles__title">Designing is The CooL LOVE FOR.</h3>
                <p class="articles__text">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something
                    and you middle most this job was posted less than five minutes ago, and we think it’s a good
                    match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even
                    catch the client while they’re still online.</p>
                <button class="articles__btn">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <title>close</title>
                        <path d="M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path>
                    </svg>
                </button>
            </div>
            <div class="articles__item design-pattern">
                <h3 class="articles__title">cool psd Design</h3>
                <p class="articles__text">Our most popular service is our we know that sometimes it’s something and you middle most.</p>
                <button class="articles__btn">
                    <p class="articles__btn__text">Know More
                        <svg class="articles__btn__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <title>arrow-right</title>
                            <path d="M11.293 5.707l5.293 5.293h-11.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h11.586l-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l7-7c0.092-0.092 0.166-0.202 0.217-0.324 0.101-0.245 0.101-0.521 0-0.766-0.049-0.118-0.121-0.228-0.217-0.324l-7-7c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path>
                        </svg>
                    </p>
                </button>
            </div>
            <div class="articles__item macbook">
                <h3 class="articles__title">Designing is The Cool</h3>
                <p class="articles__text">Our most popular service is our Virtual Receptionist. We know that ...</p>
                <button class="articles__btn">
                    <p class="articles__btn__text">Know More
                        <svg class="articles__btn__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <title>arrow-right</title>
                            <path d="M11.293 5.707l5.293 5.293h-11.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h11.586l-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l7-7c0.092-0.092 0.166-0.202 0.217-0.324 0.101-0.245 0.101-0.521 0-0.766-0.049-0.118-0.121-0.228-0.217-0.324l-7-7c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path>
                        </svg>
                    </p>
                </button>
            </div>
            <div class="articles__item desktop">
                <h3 class="articles__title">PSD TO HTML KORI</h3>
                <p class="articles__text">We know that sometimes it’s something and you middle most..</p>
                <button class="articles__btn">
                    <p class="articles__btn__text">Know More
                        <svg class="articles__btn__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <title>arrow-right</title>
                            <path d="M11.293 5.707l5.293 5.293h-11.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h11.586l-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l7-7c0.092-0.092 0.166-0.202 0.217-0.324 0.101-0.245 0.101-0.521 0-0.766-0.049-0.118-0.121-0.228-0.217-0.324l-7-7c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path>
                        </svg>
                    </p>
                </button>
            </div>
            <div class="articles__item bottle">
                <h3 class="articles__title">cool psd Design</h3>
                <p class="articles__text">Our most popular service is our new virtual Receptionist you middle most..</p>
                <button class="articles__btn">
                    <p class="articles__btn__text">Know More
                        <svg class="articles__btn__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <title>arrow-right</title>
                            <path d="M11.293 5.707l5.293 5.293h-11.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h11.586l-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l7-7c0.092-0.092 0.166-0.202 0.217-0.324 0.101-0.245 0.101-0.521 0-0.766-0.049-0.118-0.121-0.228-0.217-0.324l-7-7c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path>
                        </svg>
                    </p>
                </button>
            </div>
            <div class="articles__item dishes">
                <h3 class="articles__title">Designing is The Cool FOR</h3>
                <p class="articles__text">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most..</p>
                <button class="articles__btn">
                    <p class="articles__btn__text">Know More
                        <svg class="articles__btn__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <title>arrow-right</title>
                            <path d="M11.293 5.707l5.293 5.293h-11.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h11.586l-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l7-7c0.092-0.092 0.166-0.202 0.217-0.324 0.101-0.245 0.101-0.521 0-0.766-0.049-0.118-0.121-0.228-0.217-0.324l-7-7c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path>
                        </svg>
                    </p>
                </button>
            </div>
        </section>
    </section>
</body>
</html>
