/* stylelint-disable */

/* FONTS */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.woff?bwp93k') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-home:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e948";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-pinterest:before {
  content: "\ead2";
}

/* DEFAULT */

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  min-width: 320px;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 68px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}

h2::after {
  content: '';
  display: block;
  margin: 5px auto 0;
  width: 110px;
  height: 2px;
  background-color: #666;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

a, .btn {
  color: #555;
  transition: .3s ease-out;
}

a:hover, .btn:hover {
  color: #555;
  text-decoration: none;
  opacity: .6;
}

figure {
  margin: 0;
  line-height: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  display: block;
  width: 100%;
  padding: 25px 0;
  border: 2px solid #666;
  border-radius: 50px;
  line-height: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #666;
}

.btn.btn-accent {
  border-color: #fe7e11;
  background-color: #fe7e11;
  color: #fff;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-line {
  position: relative;
  margin: 0 auto;
  width: 130px;
  height: 2px;
  background-color: #fe7e11;
}

.title-line::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -13px;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #666;
  border-radius: 100%;
}

.title-line::after {
  content: '';
  position: absolute;
  top: -6px;
  right: -13px;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #666;
  border-radius: 100%;
}

/* HEADER */

header {
  padding-top: 30px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav {
  display: flex;
  list-style-type: none;
}

header .nav li {
  padding-right: 35px;
  text-transform: uppercase;
}

header .nav li.active a {
  color: #fe7e11;
  font-weight: 600;
}

header .nav li:last-child {
  padding-right: 0;
}

/* HELLO */

.hello {
  margin-top: 115px;
}

.hello h1 {
  color: #fe7e11;
}

.hello h1 span {
  display: block;
  color: #555;
  font-size: 20px;
  font-weight: 500;
}

.hello h3 {
  color: #555;
  font-weight: 400;
}

.hello .left-side {
  margin-top: 100px;
}

.hello .right-side figure img {
  max-width: 470px;
  width: 100%;
}

.hello .btn {
  margin-top: 60px;
  max-width: 200px;
}

/* ABOUT ME */

.about-me {
  padding: 110px 0;
  background-color: #f0f0f0;
}

.about-me h2 {
  flex: 100%;
  margin-bottom: 100px;
  text-align: center;
}

.about-me .container .d-flex {
  margin-top: 100px;
}

.about-me .left-side {
  width: 33.3%;
  flex-grow: 3;
} 

.about-me .left-side img {
  width: 100%;
  max-width: 335px;
}

.about-me .right-side {
  width: 33.3%;
  flex-grow: 9;
}

.about-me h3 {
  font-weight: 400;
}

.about-me p {
  margin: 15px 0 0;
  line-height: 1.8;
}

.about-me ul {
  margin-top: 20px;
  line-height: 2.5;
}

.about-me ul li {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.about-me li .title {
  width: 200px;
}

.about-me .buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.about-me .btn-accent {
  max-width: 200px;
  margin-right: 30px;
}

.about-me .btn-download {
  max-width: 220px;
}

/* CONTCAT ME */

.contact-me {
  padding: 110px 0;
}

.contact-me h2 {
  flex: 100%;
  margin-bottom: 100px;
  text-align: center;
}

.contact-me .left-side {
  flex-grow: 1;
}

.contact-me .right-side {
  flex-grow: 6;
}

.contact-me ul {
  list-style-type: none;
}

.contact-me ul li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.contact-me li .icon {
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 30px;
  border-radius: 100px;
  border: 4px solid #fe7e11;
  background-color: #818181;
  font-size: 20px;
  color: #fff;
}

.contact-me li .icon span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-me .contact-form .row.d-flex {
    justify-content: space-between;
}

.contact-me .contact-form .row label {
  flex: 33.3%;
  margin-bottom: 20px;
}

.contact-me .contact-form .row label:first-child {
  margin-right: 30px;
}

.contact-me .contact-form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #413f3f;
  transition: .3s ease-out;
}

.contact-me .contact-form input:focus,
.contact-me .contact-form textarea:focus {
  border-color: #fe7e11;
}

.contact-me .contact-form input::placeholder {
  transition: .3s ease-out;
  opacity: 1;
}

.contact-me .contact-form input:focus::placeholder {
  transition: .3s ease-out;
  opacity: 0;
}

.contact-me .contact-form textarea::placeholder {
  transition: .3s ease-out;
  opacity: 1;
}

.contact-me .contact-form textarea:focus::placeholder {
  transition: .3s ease-out;
  opacity: 0;
}

.contact-me .contact-form textarea {
  width: 100%;
  height: 250px;
  padding: 15px;
  border: 1px solid #413f3f;
}

.contact-me .contact-form .btn {
  max-width: 220px;
  margin-top: 50px;
}

/* FOOTER */

footer {
  padding: 30px 0;
  background-color: #f0f0f0;
}

footer .d-flex {
  align-items: center;
}

footer .social-list {
  display: flex;
  list-style: none;
}

footer .social-list li {
  margin-right: 40px;
}

footer .social-list li:last-child {
  margin-right: 0;
}

footer .social-list li a {
  display: block;
  font-size: 24px;
}

footer .social-list li a:hover {
  color: #fe7e11;
  transform: translate(0, -10%);
}
