/* stylelint-disable */

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 1200px;
  margin: auto;
}

/* banner section*/

.banner__header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
}

.banner__logo {
  width: 200px;
  height: 34px;
}

.banner__checkbox {
  display: none;
}

.banner__menu {
  display: none;
}


.banner__nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  font-size: 14px;
  font-weight: 800;
  padding: 5px;
  margin-left: 15px;
}

.banner__nav__link:hover {
  color: #FE7E11;
}

.banner__nav__link:focus {
  color: #FE7E11;
}

.banner__wrap {
  display: flex;
  justify-content:
  flex-end;
  align-items: center;
  height: 530px;
  margin-top: 50px;
}

.banner__text__wrap {
  margin-right: 200px;
}

.banner__text {
  color: #555;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}

.banner__text--color-large-bold {
  color: #FE7E11;
  font-size: 60px;
  font-weight: 800;
}

.banner__title {
  color: #555;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 50px;
  width: 66%;
}

.banner__link {
  text-decoration: none;
  background-color: #fe7e11;
  color: #FFF;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 10px 50px;
}

.banner__link:hover {
  background-color: #FFF;
  color: #666;
  border: 2px solid #666;
}

.banner__link:focus {
  background-color: #FFF;
  color: #666;
  border: 2px solid #666;
}

.bunner__img {
  background-image: url("images/cat-1.png");
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*about me section*/

.about {
  background-color: #F0F0F0;
  height: 530px;
}

.about__title {
  font-size: 36px;
  color: #666;
  font-weight: 800;
  text-align: center;
  padding-top: 25px;
}

.line{
  display: block;
  width: 135px;
  height: 2px;
  background-color: #f57d0f;
  margin: auto;
}

.line::after {
  width: 115px;
  height: 2px;
  background-color: #666;
  display: block;
  content: "";
  margin: -5px auto;
}

.line__circle__right {
  position: relative;
  display: block;
  width: 5px;
  height: 5px;
  border: 1px solid #666;
  border-radius: 50px;
  left: 134px;
  top: -10px;
}

.line__circle__left {
  position: relative;
  display: block;
  width: 5px;
  height: 5px;
  border: 1px solid #666;
  border-radius: 50px;
  top: -3px;
  left: -5px;
}

.about__wrap {
    display: flex;
    height: 530px;
    flex-direction: row-reverse;
    margin-top: 30px;
}

.about__text__wrap {
  width: 60%;
  margin: auto;
}

.about__text {
  font-size: 15px;
  color: #666;
  margin-bottom: 15px;
  font-weight: 400;
}

.about__text--large {
  font-size: 22px;
}

.about__table {
  font-size: 15px;
  color: #666;
  margin: auto;
  padding-bottom: 40px;
  font-weight: 400;
}

.about__table__lcol {
  width: 20%;
}

.about__table__rcol {
  width: 43%;
}

.about__link__wrap {
  text-align: center;
  width: 82%;
}

.about__link {
  text-decoration: none;
  background-color: #fe7e11;
  color: #FFF;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 10px 25px;
  margin-right: 30px;
}

.about__link:hover {
  background-color: #F0F0F0;
  color: #666;
  border: 2px solid #666;
}

.about__link:focus {
  background-color: #F0F0F0;
  color: #666;
  border: 2px solid #666;
}

.about__img {
  background-image: url(images/cat-2.png);
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

/*contact section*/

.contact {
  height: 530px;
}

.contact__title {
  font-size: 36px;
  color: #666;
  font-weight: 800;
  text-align: center;
  padding-top: 25px;
}

.contact__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.contact__list {
  display: flex;
  margin-top: 25px;
}

.contact__svg {
  width: 40px;
  height: 40px;
  border: 4px solid #FE7E11;
  background-color: #818181;
  fill: #FFF;
  border-radius: 50px;
  padding: 10px;
}

.contact__list__wrap {
  margin-left: 10px;
}

.contact__text {
  font-size: 18px;
  color: #666;
  margin-bottom: 6px;
  margin-top: 5px;
  font-weight: 400;
}

.contact__message {
    width: 65%;
    margin-top: 25px;
}

.contact__edit__wrap {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding-bottom: 20px;
}

.contact__edit {
  width: 46%;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  color: #555;
  font-weight: 400;
}

.contact__txtarea {
  width: 98%;
  height: 85%;
  padding: 7px;
  font-size: 15px;
  color: #555;
  font-weight: 400;
}

.contact__btn {
  background-color: #fe7e11;
  color: #FFF;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 10px 25px;
  border: solid;
  margin-top: 25px;
}

.contact__btn:hover {
  border: 2px solid #666;
  background-color: #FFF;
  color: #666;
}

.contact__btn:focus {
  background-color: #666;
  border: solid;
  color: #FFF;
}

/*footer section*/

.footer__wrap {
  background-color: #F0F0F0;
}

.footer {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
}

.footer__link {
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  }

.footer__svg {
  fill: #555;
  width: 22px;
  height: 22px;
}

.footer__svg:hover {
  fill: #fe7e11;
}

.footer__svg:focus {
  fill: #fe7e11;
}

/*max-width: 991.98px*/

@media (max-width: 991.98px) {

  .container {
    width: auto;
  }

  .banner__header {
    margin-left: 15px;
  }

  .banner__menu {
    display: block;
    text-transform: a;
    margin-right: 15px;
    color: #666;
    font-weight: 800;
  }

  .banner__nav {
    display: none;
  }

  .banner__checkbox:checked ~ .banner__nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    border: 2px solid #666;
    align-items: flex-end;
    background-color: #f1f1f1ad;
    right: 15px;
    top: 48px;
  }

  .banner__wrap {
    margin-top: 25px;
    display: block;
    height: auto;
  }

  .banner__text__wrap {
    width: 60%;
    margin: 0 auto 23px;
  }

  .banner__text {
    font-size: 16px;
    padding-bottom: 15px;
  }

  .banner__text--color-large-bold {
    font-size: 40px;
  }

  .banner__title {
    width: auto;
    font-size: 20px;
    padding-bottom: 30px;
  }

  .banner__link {
    font-size: 15px;
    padding: 10px 30px;
  }

  .bunner__img {
    width: auto;
    background-position: center;
    height: 290px;
  }

  /*about me section max-width: 991.98px*/

  .about {
    height: auto;
  }

  .about__title {
    padding-top: 15px;
    font-size: 25px;
  }

  .line{
    width: 90px;
    height: 1px;
  }

  .line::after {
    width: 75px;
    height: 1px;
  }

  .line__circle__right {
    left: 90px;
  }

  .about__wrap {
    margin-top: 15px;
    display: block;
    height: auto;
  }

  .about__text__wrap {
    width: 75%;}


  .about__text {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .about__text--large {
    font-size: 20px;
  }

  .about__table {
    font-size: 12px;
    width: 70%;
    padding-bottom: 18px;
  }

  .about__table__rcol {
    width: auto;
  }

  .about__link__wrap {
    width: auto;
    margin-bottom: 20px;
  }

  .about__link {
    padding: 10px 20px;
    margin-right: 40px;
    font-size: 15px;
  }

  .about__img {
    width: auto;
    background-position: center;
    height: 250px;
    background-size: cover;
  }

  /*contact section max-width: 991.98px*/

  .contact {
    height: 450px;
  }

  .contact__title {
    font-size: 25px;
  }

  .contact__wrap {
    display: block;
    justify-content: normal;
  }

  .contact__lists {
    display: flex;
    justify-content: space-around;
  }

  .contact__list {
    display: block;
    text-align: center;
    width: 30%;
  }

  .contact__svg {
    width: 25px;
    height: 25px;
    border: 2px solid #FE7E11;
  }

  .contact__list__wrap {
    margin: auto;
  }

  .contact__text {
    font-size: 13px;
  }

  .contact__message {
    width: 93%;
    margin: 10px auto;
  }

  .contact__edit {
    padding-left: 0px;
    padding-right: 0px;
  }

  .contact__txtarea {
    width: 100%;
    padding: 0;
    height: 85px;
  }

  .contact__btn {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 15px;
  }

  /*footer section max-width: 991.98px*/

  .footer {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .footer__links__wrap {
    text-align: center;
  }

  .footer__svg {
    width: 18px;
    height: 18px;
  }
}
