* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
}

.baner__header {
  display: flex;
  background-color: #555;
  justify-content: space-between;
  align-items: flex-start;
}

.baner__logo {
  width: 150px;
  padding-top: 15px;
  margin-left: 15px;
  margin-bottom: 7px;
}

.baner__navigation {
  display: none;
}

.baner-menu__icon {
  width: 40px;
  height: 40px;
  fill: #fe7e11;
  float: right;
}

.baner__toggle:checked ~ .baner__navigation {
  display: grid;
}

.baner__menu__tog__nav {
  display: grid;
}

.baner__toggle {
  display: none;
}

.baner__link {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  margin: 0 3px;
  padding: 5px;
  font-weight: 700;
  border: 1px solid #fe7e11;
  width: 180px;
}

  .baner__link:hover {
    color: #fe7e11;
  }

  .baner__link:focus {
    color: #ff4800;
  }

.text {
  color: #555;
  font-size: 12px;
  font-weight: 400;
  padding-top: 10px;
  margin: 0 10px 0;
}

.text-large {
  font-size: 16px;
}

.text-bold {
  font-weight: 600;
}

.baner__text {
  color: #fe7e11;
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
  margin: 0 10px 5px;
}

.baner__link__button {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 25px;
}

.baner__link__hire {
  text-decoration: none;
  background-color: #fe7e11;
  color: #FFF;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 50px;
}

.baner__link__hire:hover {
  background-color: #ff4800;
}

.buner__img {
  background-image: url("images/cat-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

/*Section ABOUT ME*/

.about {
  background-color: #f0f0f0;
}

.about__title {
  color: #666;
  font-size: 25px;
  font-weight: 700;
  padding-top: 15px;
  margin: auto;
  text-align: center;
}

.about__table {
  padding-top: 10px;
  margin-left: 10px;
  color: #555;
  font-size: 12px;
  font-weight: 400;
}

.about__table__lcol {
  width: 30%;
}

.about__link__button {
  display: grid;
  justify-content: center;
  padding-top: 15px;
}

.about__link__hierme {
  text-decoration: none;
  background-color: #fe7e11;
  color: #FFF;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 50px;
  margin-bottom: 15px;
}

.about__link__hierme:hover {
  background-color: #ff4800;
}

.about__link__dowonload {
  text-decoration: none;
  background-color: #f0f0f0f0;
  color: #666;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 50px;
  border: 2px solid #666;
  margin-bottom: 15px;
}

.about__link__dowonload:hover {
  background-color: #ff4800;
  color: #FFF;
  border: 2px solid #ff4800;
}

.about__img {
  background-image: url("images/cat-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
/*Section CONTACT*/

.contact__title {
  color: #666;
  font-size: 25px;
  font-weight: 700;
  padding-top: 15px;
  margin: auto;
  text-align: center;
}

.contact__svg {
  border: 3px solid #fe7e11;
  fill: #FFF;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  padding: 11px;
  background-color: #818181;
}

.contact__container {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 15px;
}

.contact__mesageblok {
  text-align: center;
}

.contact__editblok {
  padding-top: 15px;
  margin-bottom: 15px;
}

.contact__edit {
  width: 75%;
  margin-bottom: 10px;
  padding-top: 10px;
}

.contact__textarea {
  width: 75%;
  height: 100px;
  padding-top: 0;
  resize: none;
}

.contact__btn {
  background-color: #fe7e11;
  color: #FFF;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 50px;
  border: solid;
  margin-bottom: 15px;
}

.contact__btn:hover {
  background-color: #ff4800;
}

/*Section footer*/

.section__footer {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-links {
  text-align: center;
}

.footer__link {
  text-decoration: none;
  margin: 0 5px;
}

.footer__svg {
  width: 20px;
  height: 20px;
  fill: #555;
}

.footer__svg:hover {
  fill: #fe7e11;
}

/****************************size 767.98px*****************************/

@media (min-width: 767.98px) {

  .baner__description {
    padding-top: 15px;
    height: 320px;
  }

  .text {
    font-size: 15px;
  }
  
  .text-large {
    font-size: 20px;
  }
  
  .text-bold {
    font-weight: 500;
  }
  
  .baner__text {
    font-size: 47px;
  }

  .baner__link__button {
    margin-top: 25px;
  }

  .baner__link__hire {
    font-size: 20px;
  }

  .buner__img {
    height: 350px;
  }

/*Section ABOUT ME size 767.98px*/

  .about__title {
    font-size: 30px;
  }
  
  .about__table {
    font-size: 15px;
  }
  
  .about__table__lcol {
    width: 45%;
  }
  
  .about__link__button {
    display: block;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 30px;
  }
  
  .about__link__hierme {
    font-size: 20px;
    margin: 25px;
  }

  .about__link__dowonload {
    font-size: 20px;
    margin: 25px;
  }
  
  .about__link__dowonload:hover {
    background-color: #ff4800;
  }
  
  .about__img {
    padding-top: 15px;
    height: 300px;
  }
  /*Section CONTACT size 767.98px*/
  
  .contact__title {
    font-size: 30px;
  }

  .contact__contactblok {
    display: flex;
    justify-content: center;
  }

  .contact__mesageblok {
    width: 50%;
    margin: auto;
  }

  .contact__editblok {
    display: flex;
    justify-content: space-between;
  }

  .contact__edit {
    width: 48%;
    margin: 0;
  }

  .contact__container{
    width: 30%;
}

  .contact__textarea {
    width: 100%;
    margin: 0px;
  }
  
  .contact__btn {
    font-size: 20px;
    margin-top: 15px;
  }
  
  .contact__btn:hover {
    background-color: #ff4800;
  }
  
/*Section footer size 767.98px*/
  
  .section__footer {
    flex-direction: unset;
    justify-content: space-around;
  }

  .footer__link {
    text-decoration: none;
    margin: 0 5px;
  }

  .footer__svg:hover {
    fill: #fe7e11;
  }
}

/****************************size 1023.98px*****************************/

@media (min-width: 1023.98px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  .baner__header {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .baner__logo {
    width: 150px;
    padding-top: 15px;
    margin-left: 15px;
    margin-bottom: 7px;
  }

  .baner__toggle:checked ~ .baner__navigation {
    display: block;
  }

  .baner__navigation {
    display: block;
  }

  .baner-menu__icon {
    display: none;
  }

  .baner__link {
    color: #666;
    border: 0px solid #fff;
    display: initial;
  }

  .banner__wraper {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
  }

  .baner__description {
    width: 40%;
    margin: 100px auto;
  }

  .text {
    font-size: 16px;
    font-weight: 500;
  }
  
  .text-large {
    font-size: 20px;
    margin-left: 10px;
  }
  
  .text-bold {
    font-weight: 600;
  }
  
  .baner__text {
    font-size: 45px;
  }
  
  .baner__link__button {
    text-align: left;
  }
  
  .baner__link__hire {
    font-size: 20px;
    padding: 10px 50px;
  }
  
  .baner__link__hire:hover {
    background-color: #ff4800;
  }
  
  .buner__img {
    width: 33%;
    height: auto;
  }
  
/*Section ABOUT ME size 1023.98px*/

  .about__container {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 49px;
  }
  
  .about__title {
    font-size: 27px;
    padding-top: 50px;
  }
  
  .about__table {
    font-size: 16px;
    margin-left: 25px;
  }
  
  .about__table__lcol {
    width: 42%;
  }
  
  .about__link__button {
    text-align: left;
  }
  
  .about__link__hierme {
    font-size: 20px;
    padding: 12px 30px;
  }

  .about__link__dowonload {
    font-size: 20px;
    padding: 10px 30px;
  }

  .about__text {
    width: 76%;
    margin-left: 15px;
  }
  .about__img {
    background-size: cover;
    width: 56%;
  }

/*Section CONTACT size 1023.98px*/
  
  .contact__title {
    color: #666;
    font-size: 25px;
    font-weight: 700;
    padding-top: 15px;
    margin: auto;
    text-align: center;
  }

  .contact__description{
    display: flex;
    justify-content: space-around;
  }

  .contact__contactblok {
    display: block;
  }
  .contact__svg {
    border: 3px solid #fe7e11;
    fill: #FFF;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 11px;
    background-color: #818181;
  }
  
  .contact__container {
    text-align: left;
    display: flex;
    width: auto;
    align-items: center;
  }
  
  .contact__mesageblok {
    margin: inherit;
  }

  .contact__textarea {
    height: 47%;
  }

  .contact__btn:hover {
    background-color: #ff4800;
  }
  
  /*Section footer size 1023.98px*/
  
  .section__footer {
    flex-direction: unset;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .footer-links {
    margin-right: 15px;
  }

  .footer__svg:hover {
    fill: #fe7e11;
  }
}
/****************************size 1199.98px*****************************/

@media (min-width: 1199.98px) {
  .container {
    width: 1200px;
  }
}